@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Pokedex-cards {

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokedex-cards h4 {
  font-size: 60%;
}



.total{
  
  font-family: 'Amatic SC', sans-serif;

}

.shadow__btn {
  padding: 15px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-top: 2rem;
  
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


.shadow__btn2 {
  padding: 15px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-top: 2rem;
}

.shadow__btn2 {
  background:red;
  box-shadow: 0 0 25px rgb(255, 0, 34);
}

.shadow__btn2:hover {
  box-shadow: 0 0 5px rgb(255, 17, 0),
              0 0 25px rgb(255, 0, 43),
              0 0 50px rgb(244, 26, 26),
              0 0 100px rgb(232, 32, 42);
}